# KiCad temporary, backup, and local display setting files
*.bck
*.bak
*_autosave-*
*.tmp
*-save.kicad_pcb
*.lck
*.kicad_prl

# Operating System files
.DS_Store
Thumbs.db

# PlatformIO build outputs & libraries
Firmware/.pio/
Firmware/.vscode/

# KiCad backups, history, & production outputs
Hardware/v2 (wired)/DIY_Mouse-backups
Hardware/v2 (wired)/.history
Hardware/v2 (wired)/production
Hardware/v3 (wireless)/.history
Hardware/v3 (wireless)/Mouse v3-backups
Hardware/v3 (wireless)/production

# Manufacturing & Gerber Outputs (Upload via GitHub Releases)
*.gbr
*.drl
*.gbl
*.gbs
*.gbo
*.gto
*.gts
*.gtl
*.gbrjob
*.zip

# KiCad restore backups
**/_restore_backup_*/

# Slicer G-code variants
*.gcode.3mf